.dialogEditAddress {
    position: relative;
    padding: 16px;

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.twoButtons {
    display: flex;
    gap: 10px;

    button {
        padding: 8px;
        font-weight: bold;
        color: dimgray;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        transition: all ease-in-out 250ms;

        &:hover {
            cursor: pointer;
            background-color: #e4e4e4;
            transition: all ease-in-out 250ms;
        }
    }
}