<mat-card appearance="outlined">
    <!-- <mat-card-content>Simple card</mat-card-content> -->

    <table class="userTable">
        <tbody>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>

            @for (user of allUsers; track $index) { <!-- Iterate over the `allUsers` array and generate a table row for each user -->
                <tr [routerLink]="['/user/' + user.id]"> <!-- Each row is clickable and navigates to the user's detail page -->
                    <td>{{ user.firstName }} {{ user.lastName }}</td> <!-- Display user's full name -->
                    <td>{{ user.email }}</td> <!-- Display user's email -->
                    <td>{{ user.city }}</td> <!-- Display user's city -->
                </tr>
            }
        </tbody>
    </table>
</mat-card>

<button class="addUserBtn" (click)="openDialog()" mat-fab color="primary" matTooltip="Add user"
    [matTooltipPosition]="position.value!">
    <mat-icon>person_add</mat-icon>
</button>