<mat-card appearance="outlined">
    <!-- <mat-card-content>Simple card</mat-card-content> -->

    <table class="userTable">
        <tbody>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>

            @for (user of allUsers; track user) {
                <tr>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>mail&#64;muster.com</td>
                    <td>{{ user.city }}</td>
                </tr>
            }
        </tbody>
    </table>
</mat-card>


<button class="addUserBtn" (click)="openDialog()" mat-fab color="primary" matTooltip="Add user"
    [matTooltipPosition]="position.value!">
    <mat-icon>person_add</mat-icon>
</button>